

/* styles.module.css */

.image-container {
    max-width: 100%;
    overflow: hidden;
    /* margin-top: 400px; */
    text-align: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
  
  /* Hide the large image for medium and small screens */
  @media (max-width: 768px) {
    .largeImage {
      display: none;
    }
  }
  
  /* Hide the small image for large screens */
  @media (min-width: 769px) {
    .smallImage {
      display: none;
    }
  }
  